.sup_index {
  margin-top: 30px;;

  &__table {
    width: 100%;
    border-radius: 10px;
    border: 3px solid white;
  }

  &__input {
    background-color: white;
  }

  &__input2 {
    background-color: whitesmoke;
  }


  &__table__header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: white;
  }

  &__table__list {
    width: 10%;
    border: 1px solid greenyellow;
  }

  &__table__footer {
    text-align: center;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: white;
  }

  &__table__list {
    width: 10%;
    border: 1px solid greenyellow;
  }

  & input {
    width: 100%;
    // height: 100%;
  }
}
